<main class="flex h-dvh bg-slate-900 text-slate-100">
  <aside class="flex flex-col gap-1 p-4 bg-slate-950 h-full justify-between w-60">
    <div class="flex flex-col gap-2">
      <div routerLink="/add-server"
        class="rounded-full size-12 grid place-items-center bg-slate-700 cursor-pointer hover:rounded transition-all ease-in duration-100">
        <mat-icon fontIcon="add" class="text-emerald-500"></mat-icon>
      </div>
      <div>
        <img src="https://api.dicebear.com/8.x/bottts-neutral/svg?seed=qsdfsqdf"
             class="rounded-full size-12 hover:rounded cursor-pointer transition-all ease-in duration-100">
      </div>
      <div>
        <img src="https://api.dicebear.com/8.x/bottts-neutral/svg?seed=qsdf"
             class="rounded-full size-12 hover:rounded cursor-pointer transition-all ease-in duration-100">
      </div>
    </div>
    <div class="flex gap-2 items-center flex-wrap">
      <img src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed=Jarod" class="rounded-full size-8">
      <span class="text-sm">Jarod Couprie</span>
      <mat-icon fontIcon="settings" class="cursor-pointer" routerLink="/profile"></mat-icon>
    </div>
  </aside>

  <div class="p-4 flex flex-col gap-2">
    <div class="flex gap-2">
      <img src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed=Jarod" class="rounded-full size-12">
      <div class="flex flex-col gap-2">
        <div class="text-xl font-semibold hover:underline cursor-pointer text-slate-400">Jarod Couprie</div>
        <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, alias architecto
          assumenda
          aut consequatur dolor ducimus explicabo fuga illo in ipsa molestiae necessitatibus nesciunt nostrum quia
          voluptatibus? Eaque, maiores?
        </div>
      </div>
    </div>
    <div class="flex p-1 gap-2">
      <img src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed=Théo" class="rounded-full size-12">
      <div class="flex flex-col gap-2">
        <div class="text-xl font-semibold hover:underline cursor-pointer text-slate-400">Théo Roblin</div>
        <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolor, fuga
          necessitatibus
          quaerat quam quo repellendus. Ad at atque beatae dolore dolorem inventore labore, minus neque nesciunt quas
          sit suscipit?
        </div>
      </div>
    </div>
    <div class="flex p-1 gap-2">
      <img src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed=Ethan" class="rounded-full size-12">
      <div class="flex flex-col gap-2">
        <div class="text-xl font-semibold hover:underline cursor-pointer text-slate-400">Ethan Collignon</div>
        <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque eos impedit natus
          nulla quibusdam quidem recusandae rem, sunt! Alias aliquid beatae commodi exercitationem ipsum nesciunt omnis
          similique sunt tempore!
        </div>
      </div>
    </div>

  </div>

</main>
